body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  font-family: "UniNeueRegular", sans-serif;
  background-color: #fff;
  position: relative;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: inherit; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

button {
  cursor: pointer;
  font-family: "UniNeueRegular", sans-serif; }

textarea,
input {
  font-family: "UniNeueRegular", sans-serif; }

label {
  cursor: pointer; }
  label:focus, label:hover, label:active {
    outline: 0;
    outline-offset: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

select, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent; }

.content-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  left: 0; }

.page-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.footer-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1; }

.box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative; }

.btn {
  background-image: -webkit-linear-gradient(90deg, #ff9c00 0%, #ffcc00 100%);
  background-image: -ms-linear-gradient(90deg, #ff9c00 0%, #ffcc00 100%);
  -webkit-box-shadow: 0px 3px 40px 2px rgba(226, 170, 0, 0.8);
          box-shadow: 0px 3px 40px 2px rgba(226, 170, 0, 0.8);
  padding: 15px 35px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  border-bottom: 1px solid #e2aa00;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  max-height: 55px;
  max-width: 290px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative; }
  .btn span {
    position: relative;
    z-index: 10;
    font-size: 16px;
    font-family: "UniNeueBold", sans-serif;
    color: #1d1d1d;
    line-height: 1.375;
    text-align: center;
    text-shadow: 0.707px 0.707px 0px rgba(255, 255, 255, 0.33); }
  .btn:after {
    content: '';
    width: 100%;
    height: 100%;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: -webkit-linear-gradient(-90deg, #ff9c00 0%, #ffcc00 100%);
    background-image: -ms-linear-gradient(-90deg, #ff9c00 0%, #ffcc00 100%);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    opacity: 0; }
  .btn:hover {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-box-shadow: 0px 3px 20px 2px rgba(226, 170, 0, 0.8);
            box-shadow: 0px 3px 20px 2px rgba(226, 170, 0, 0.8); }
    .btn:hover:after {
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      opacity: 1; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.col-50 {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  -webkit-box-flex: 0; }

.text-center {
  text-align: center; }

.col-100 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.row {
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.col-50 {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  -webkit-box-flex: 0; }

.space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.ai-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.input {
  background-color: white;
  -webkit-box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.15);
  padding: 28px 35px;
  -webkit-border-radius: 35px;
          border-radius: 35px;
  max-height: 70px; }
  .input::-webkit-input-placeholder {
    font-size: 15px;
    font-family: "UniNeueRegular";
    color: darkgray;
    font-style: italic;
    line-height: 1.467;
    text-align: left; }
  .input::-moz-placeholder {
    font-size: 15px;
    font-family: "UniNeueRegular";
    color: darkgray;
    font-style: italic;
    line-height: 1.467;
    text-align: left; }
  .input::-ms-input-placeholder {
    font-size: 15px;
    font-family: "UniNeueRegular";
    color: darkgray;
    font-style: italic;
    line-height: 1.467;
    text-align: left; }
  .input::placeholder {
    font-size: 15px;
    font-family: "UniNeueRegular";
    color: darkgray;
    font-style: italic;
    line-height: 1.467;
    text-align: left; }

.orange-box {
  background: #ff8400;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  -webkit-transform: skewX(-24deg);
      -ms-transform: skewX(-24deg);
          transform: skewX(-24deg);
  font-size: 64px;
  font-family: "UniNeueHeavy";
  color: white;
  line-height: 1.2;
  text-align: center; }
  .orange-box span {
    -webkit-transform: skewX(24deg);
        -ms-transform: skewX(24deg);
            transform: skewX(24deg);
    display: block; }

.footer {
  height: 115px; }
  .footer .box {
    height: 100%; }

.contacts__body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contacts__body--contacts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .contacts__body--contacts .contacts--contact-section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-right: 30px; }
      .contacts__body--contacts .contacts--contact-section .contacts--contact-phone {
        font-size: 20px;
        font-family: "UniNeueHeavy";
        color: #212121;
        line-height: 1.2; }
      .contacts__body--contacts .contacts--contact-section .contacts--contact-time {
        margin-top: 15px;
        font-size: 14px;
        color: #878787;
        line-height: 1.2; }

.header {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #101b2e; }
  .header__body {
    max-width: 950px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin: 0 auto; }
    .header__body-navigation {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
      .header__body-navigation .navigation--list {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%; }
        .header__body-navigation .navigation--list__elem {
          margin-right: 80px;
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          .header__body-navigation .navigation--list__elem:last-of-type {
            margin-right: 0px; }
          .header__body-navigation .navigation--list__elem-link {
            font-size: 18px;
            color: white;
            text-align: left;
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            height: 100%;
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear; }
            .header__body-navigation .navigation--list__elem-link:after {
              content: '';
              width: 0px;
              height: 2px;
              position: absolute;
              top: -webkit-calc(100% - 2px);
              top: calc(100% - 2px);
              left: 0;
              display: block;
              background: #ff8400;
              -webkit-transition: all 0.2s linear;
              -o-transition: all 0.2s linear;
              transition: all 0.2s linear; }
            .header__body-navigation .navigation--list__elem-link:hover, .header__body-navigation .navigation--list__elem-link.active {
              -webkit-transition: all 0.2s linear;
              -o-transition: all 0.2s linear;
              transition: all 0.2s linear; }
              .header__body-navigation .navigation--list__elem-link:hover:after, .header__body-navigation .navigation--list__elem-link.active:after {
                width: 100%;
                -webkit-transition: all 0.2s linear;
                -o-transition: all 0.2s linear;
                transition: all 0.2s linear; }

.main .main-section {
  position: relative;
  width: 100%; }
  .main .main-section.first {
    width: 100%;
    background-image: url("../img/main-bg1.png");
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    height: 850px; }
  .main .main-section .contacts__body {
    margin-top: 40px;
    margin-bottom: 100px; }
    .main .main-section .contacts__body .contact-man-img {
      position: absolute;
      right: 0;
      bottom: 0; }
    .main .main-section .contacts__body .contacts__body--contacts .contacts--contact-section .contacts--contact-phone {
      color: #fff; }
  .main .main-section .main-banner--info {
    max-width: 700px;
    width: 100%; }
    .main .main-section .main-banner--info__title {
      font-size: 64px;
      font-family: "UniNeueHeavy";
      color: white;
      line-height: 1.2;
      text-align: left; }
      .main .main-section .main-banner--info__title span {
        font-family: "UniNeueBook"; }
    .main .main-section .main-banner--info .orange-box {
      width: 522px;
      margin-bottom: 45px; }
      .main .main-section .main-banner--info .orange-box span {
        -webkit-transform: skewX(24deg);
            -ms-transform: skewX(24deg);
                transform: skewX(24deg);
        display: block; }
    .main .main-section .main-banner--info__text {
      font-size: 22px;
      font-family: "UniNeueRegular";
      color: white;
      line-height: 1.2;
      text-align: left;
      margin-bottom: 30px; }
    .main .main-section .main-banner--info__services .service {
      margin-bottom: 45px;
      padding-left: 45px;
      position: relative; }
      .main .main-section .main-banner--info__services .service:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 30px;
        height: 30px;
        -webkit-background-size: 30px 30px;
                background-size: 30px 30px;
        background-image: url("../img/icons/check-mark.svg"); }
      .main .main-section .main-banner--info__services .service--title {
        font-size: 18px;
        font-family: "UniNeueHeavy";
        color: white;
        line-height: 1.333;
        text-align: left;
        max-width: 250px;
        margin-bottom: 5px; }
      .main .main-section .main-banner--info__services .service--subtitle {
        font-size: 18px;
        font-family: "UniNeueRegular";
        color: white;
        line-height: 1.333;
        text-align: left;
        max-width: 250px; }
  .main .main-section .main-banner--form {
    max-width: 350px;
    max-height: 400px;
    width: 100%;
    position: relative; }
    .main .main-section .main-banner--form:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: block;
      border: 15px solid rgba(255, 255, 255, 0.2); }
    .main .main-section .main-banner--form form {
      padding: 40px 30px;
      position: relative;
      z-index: 10;
      left: 15px; }
    .main .main-section .main-banner--form__title {
      font-size: 26px;
      font-family: "UniNeueHeavy";
      color: white;
      line-height: 0.846;
      text-align: center;
      margin-bottom: 30px; }
    .main .main-section .main-banner--form__subtitle {
      font-size: 18px;
      font-family: "UniNeueRegular";
      color: white;
      line-height: 0.846;
      text-align: center;
      margin-bottom: 30px; }
    .main .main-section .main-banner--form .input {
      width: 100%;
      margin-bottom: 20px; }
    .main .main-section .main-banner--form .btn {
      max-width: initial;
      max-height: initial;
      width: 100%;
      height: 70px;
      margin-bottom: 30px; }
    .main .main-section .main-banner--form__agree {
      font-size: 14px;
      font-family: "UniNeueRegular";
      color: white;
      line-height: 1.286;
      text-align: center; }
  .main .main-section.advantages {
    margin-top: 65px;
    margin-bottom: 140px; }
    .main .main-section.advantages .advantages--title {
      font-size: 44px;
      font-family: "UniNeueHeavy";
      color: #212121;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 55px; }
    .main .main-section.advantages .advantages-list__elem {
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: white;
      -webkit-box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.15);
              box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.15);
      margin: 0px 15px 30px 15px;
      border-radius: 5px;
      width: 30%;
      min-height: 180px;
      position: relative; }
      .main .main-section.advantages .advantages-list__elem .advantages-list__elem--image {
        background-color: #ff8400;
        width: 87px;
        height: 87px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-border-radius: 5px 0px 50% 0px;
                border-radius: 5px 0px 50% 0px;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
        .main .main-section.advantages .advantages-list__elem .advantages-list__elem--image img {
          max-width: 50px;
          max-height: 50px; }
      .main .main-section.advantages .advantages-list__elem .advantages-list__elem--info {
        padding: 25px 20px;
        position: relative;
        z-index: 10; }
        .main .main-section.advantages .advantages-list__elem .advantages-list__elem--info .advantages-list__elem--info__name {
          font-size: 22px;
          font-family: "UniNeueHeavy";
          color: #212121;
          line-height: 1.2;
          text-align: left;
          margin-bottom: 20px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 100%; }
        .main .main-section.advantages .advantages-list__elem .advantages-list__elem--info .advantages-list__elem--info__descr {
          font-size: 16px;
          font-family: "UniNeueRegular";
          color: #212121;
          line-height: 1.5;
          text-align: left; }
      .main .main-section.advantages .advantages-list__elem .advantages-list__elem--number {
        position: absolute;
        right: 30px;
        bottom: 40px;
        font-size: 80px;
        font-family: "UniNeueHeavy";
        color: #f2f5fa;
        line-height: 0.3;
        z-index: 2; }
  .main .main-section.salary.first-salary {
    height: 420px;
    position: relative; }
    .main .main-section.salary.first-salary .salary-cube1 {
      position: absolute;
      z-index: 2;
      right: 120px;
      bottom: -95px;
      max-width: 190px; }
      .main .main-section.salary.first-salary .salary-cube1 img {
        position: relative; }
    .main .main-section.salary.first-salary .box {
      height: 100%; }
    .main .main-section.salary.first-salary .salary-man-img {
      position: absolute;
      right: 0;
      bottom: 0;
      overflow: hidden;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding-right: 40px; }
      .main .main-section.salary.first-salary .salary-man-img img {
        position: relative;
        top: 170px; }
    .main .main-section.salary.first-salary .salary-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%; }
  .main .main-section.salary.second-salary {
    height: 670px;
    position: relative; }
    .main .main-section.salary.second-salary .second-salary-bg2 {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%; }
    .main .main-section.salary.second-salary .second-salary-bg3 {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      overflow: hidden; }
      .main .main-section.salary.second-salary .second-salary-bg3 img {
        position: relative;
        right: 0;
        bottom: -90px;
        z-index: 999; }
    .main .main-section.salary.second-salary .box {
      z-index: 10;
      height: 100%; }
    .main .main-section.salary.second-salary .secondSalary {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 70%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .main .main-section.salary .salary--title {
    max-width: 730px;
    width: 100%;
    margin-bottom: 55px;
    font-size: 44px;
    font-family: "UniNeueHeavy";
    color: #212121;
    line-height: 1.364;
    text-align: left;
    display: inline-block; }
    .main .main-section.salary .salary--title .orange-box {
      font-size: 44px;
      font-family: "UniNeueHeavy";
      line-height: 1.364;
      text-align: left;
      color: white;
      display: inline-block;
      margin-left: 10px;
      padding: 0px 10px; }
  .main .main-section.salary .salary--form {
    max-width: 640px;
    width: 100%;
    position: relative; }
    .main .main-section.salary .salary--form form {
      position: relative;
      z-index: 10; }
      .main .main-section.salary .salary--form form .btn {
        max-height: initial;
        height: 65px;
        position: absolute;
        right: 0;
        width: 260px;
        -webkit-border-radius: 35px;
                border-radius: 35px; }
      .main .main-section.salary .salary--form form .input {
        max-width: 450px;
        height: 65px;
        width: 100%; }
    .main .main-section.salary .salary--form .salary--value {
      font-size: 150px;
      font-family: "UniNeueBlack";
      color: white;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: left;
      position: absolute;
      top: 25px;
      z-index: 0;
      left: -125px; }
  .main .main-section.cost {
    padding: 95px 0px 90px 0px; }
    .main .main-section.cost .cost--title {
      font-size: 44px;
      font-family: "UniNeueHeavy";
      color: #212121;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 30px; }
    .main .main-section.cost .const--info {
      font-size: 22px;
      font-family: "UniNeueRegular";
      color: #212121;
      line-height: 1.545;
      text-align: center;
      margin-bottom: 90px; }
      .main .main-section.cost .const--info .heavy {
        font-family: "UniNeueHeavy"; }
    .main .main-section.cost .cost--list__item {
      width: 100%;
      margin-right: 30px;
      background-color: white;
      -webkit-box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.15);
              box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.15);
      position: relative;
      padding: 75px 20px 35px 20px; }
      .main .main-section.cost .cost--list__item:last-of-type {
        margin-right: 0px; }
      .main .main-section.cost .cost--list__item-img {
        position: absolute;
        top: -50px;
        left: 50%;
        background: #ffffff;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 95px;
        height: 95px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-box-shadow: 0px -4px 5px 1px rgba(0, 0, 0, 0.05) inset;
                box-shadow: 0px -4px 5px 1px rgba(0, 0, 0, 0.05) inset; }
        .main .main-section.cost .cost--list__item-img:after {
          content: '';
          width: 80px;
          height: 80px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          display: block;
          background: #f2f5fa;
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        .main .main-section.cost .cost--list__item-img img {
          max-width: 46px;
          max-height: 46px;
          position: relative;
          z-index: 10; }
      .main .main-section.cost .cost--list__item-value {
        padding-bottom: 25px;
        border-bottom: 1px solid #ebedef;
        width: 100%; }
        .main .main-section.cost .cost--list__item-value .value-param {
          font-size: 17px;
          font-family: "UniNeueRegular";
          color: #838383;
          line-height: 1.2;
          text-align: center; }
        .main .main-section.cost .cost--list__item-value .item-value {
          font-size: 20px;
          font-family: "UniNeueHeavy";
          color: #212121;
          line-height: 1.2;
          text-align: center; }
      .main .main-section.cost .cost--list__item-price {
        padding: 25px 0px 30px 0px;
        width: 100%; }
        .main .main-section.cost .cost--list__item-price .item-price {
          font-size: 18px;
          font-family: "UniNeueHeavy";
          color: #212121;
          line-height: 1.2;
          text-align: center; }
          .main .main-section.cost .cost--list__item-price .item-price span {
            font-size: 24px; }
  .main .main-section.ourAdvantages {
    position: relative;
    padding-top: 95px;
    padding-bottom: 160px; }
    .main .main-section.ourAdvantages .ourAdvantages-bg {
      position: absolute;
      top: 0;
      left: 0;
      -o-object-fit: cover;
         object-fit: cover; }
    .main .main-section.ourAdvantages .ourAdvantages--title {
      margin-bottom: 70px;
      font-size: 44px;
      font-family: "UniNeueHeavy";
      color: white;
      line-height: 1.2;
      text-align: center; }
    .main .main-section.ourAdvantages .ourAdvantages--list__item {
      width: 30%;
      margin: 0px 15px 30px 15px; }
      .main .main-section.ourAdvantages .ourAdvantages--list__item .ourAdvantages--list__item-img {
        max-width: 65px;
        max-height: 65px;
        margin-right: 25px; }
      .main .main-section.ourAdvantages .ourAdvantages--list__item .ourAdvantages--list__item-name {
        font-size: 22px;
        font-family: "UniNeueHeavy";
        color: white;
        line-height: 1.2;
        text-align: left; }
      .main .main-section.ourAdvantages .ourAdvantages--list__item .ourAdvantages--list__item-descr {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-top: 30px;
        font-size: 16px;
        font-family: "UniNeueRegular";
        color: white;
        line-height: 1.5;
        text-align: left; }
  .main .main-section.screed {
    margin-bottom: 100px; }
    .main .main-section.screed .screed--title {
      font-size: 44px;
      font-family: "UniNeueHeavy";
      color: #212121;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 30px; }
    .main .main-section.screed .screed--subtitle {
      font-size: 22px;
      font-family: "UniNeueRegular";
      color: #212121;
      line-height: 1.545;
      text-align: center;
      margin-bottom: 60px; }
      .main .main-section.screed .screed--subtitle span {
        font-family: "UniNeueHeavy"; }
    .main .main-section.screed .screed--list__item {
      margin: 0px 15px 30px 15px;
      position: relative;
      max-width: 350px;
      width: 100%; }
      .main .main-section.screed .screed--list__item-name {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        font-size: 20px;
        font-family: "UniNeueHeavy";
        color: white;
        line-height: 1.7;
        text-align: center;
        background-color: rgba(16, 27, 46, 0.5); }
  .main .main-section.materials {
    margin: 90px 0px; }
    .main .main-section.materials .materials--title {
      font-size: 44px;
      font-family: "UniNeueHeavy";
      color: #212121;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 65px; }
    .main .main-section.materials .materials--list__elem {
      width: 33.33%;
      border: 1px solid #ebedef;
      border-left: 1px solid #ebedef;
      padding: 25px;
      text-align: center; }
      .main .main-section.materials .materials--list__elem-image {
        max-height: 180px;
        height: 100%; }
      .main .main-section.materials .materials--list__elem-name {
        font-size: 22px;
        font-family: "UniNeueHeavy";
        color: #212121;
        line-height: 1.2;
        text-align: center;
        margin: 30px 0px 20px 0px; }
  .main .main-section.screedForm {
    position: relative;
    padding-top: 110px;
    height: 650px; }
    .main .main-section.screedForm .screedForm-bg {
      position: absolute;
      top: 0;
      left: 0;
      -o-object-fit: cover;
         object-fit: cover; }
    .main .main-section.screedForm .screedForm-cube-1 {
      position: absolute;
      right: 50px;
      top: -120px;
      max-width: 180px; }
      .main .main-section.screedForm .screedForm-cube-1 img {
        position: relative; }
    .main .main-section.screedForm .screedForm-cube-2 {
      position: absolute;
      left: 50px;
      left: 50px;
      bottom: -60px;
      max-width: 180px; }
      .main .main-section.screedForm .screedForm-cube-2 img {
        position: relative; }
    .main .main-section.screedForm .box {
      height: 100%;
      z-index: 10; }
    .main .main-section.screedForm .salary-man-img {
      position: absolute;
      right: 0;
      bottom: 64px;
      overflow: hidden;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding-right: 40px;
      -webkit-transform: rotate(-3deg);
          -ms-transform: rotate(-3deg);
              transform: rotate(-3deg);
      z-index: 1; }
      .main .main-section.screedForm .salary-man-img img {
        position: relative;
        bottom: 0; }
    .main .main-section.screedForm .screedForm--title {
      max-width: 730px;
      width: 100%;
      margin-bottom: 30px;
      font-size: 44px;
      font-family: "UniNeueHeavy";
      color: #212121;
      line-height: 1.364;
      text-align: left;
      display: inline-block; }
      .main .main-section.screedForm .screedForm--title .orange-box {
        font-size: 44px;
        font-family: "UniNeueHeavy";
        line-height: 1.364;
        text-align: left;
        color: white;
        display: inline-block;
        margin-left: 10px;
        padding: 0px 10px; }
    .main .main-section.screedForm .screedForm--subtitle {
      font-size: 20px;
      font-family: "UniNeueRegular";
      color: #212121;
      line-height: 1.4;
      text-align: left;
      max-width: 570px;
      margin-bottom: 40px; }
    .main .main-section.screedForm .salary--form {
      max-width: 640px;
      width: 100%;
      position: relative; }
      .main .main-section.screedForm .salary--form form {
        position: relative;
        z-index: 10; }
        .main .main-section.screedForm .salary--form form .btn {
          max-height: initial;
          height: 65px;
          position: absolute;
          right: 0;
          width: 260px;
          -webkit-border-radius: 35px;
                  border-radius: 35px; }
        .main .main-section.screedForm .salary--form form .input {
          max-width: 450px;
          height: 65px;
          width: 100%; }
  .main .main-section.reviews {
    margin: 60px 0px 80px 0px; }
    .main .main-section.reviews .reviews--title {
      margin-bottom: 65px;
      font-size: 44px;
      font-family: "UniNeueHeavy";
      color: #212121;
      line-height: 1.2;
      text-align: center; }
    .main .main-section.reviews .slick-slide {
      -webkit-border-radius: 5px;
              border-radius: 5px;
      -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
              box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
      overflow: hidden;
      margin: 0px 15px 40px 15px; }
      .main .main-section.reviews .slick-slide div {
        height: 240px; }
    .main .main-section.reviews .reviews--slider__nav {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 100%; }
      .main .main-section.reviews .reviews--slider__nav .reviews--slider__next {
        position: absolute;
        right: 0; }
      .main .main-section.reviews .reviews--slider__nav .reviews--slider__prev {
        position: absolute;
        left: -60px; }
  .main .main-section.process {
    height: 600px;
    padding-top: 150px;
    margin-bottom: 100px; }
    .main .main-section.process .process-bg {
      position: absolute;
      top: 0;
      left: 0;
      -o-object-fit: cover;
         object-fit: cover; }
    .main .main-section.process .process--title {
      font-size: 44px;
      font-family: "UniNeueHeavy";
      color: white;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 90px; }
    .main .main-section.process .process--list {
      position: relative; }
      .main .main-section.process .process--list .process--line {
        width: 82%;
        position: absolute;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); }
    .main .main-section.process .process--list__elem {
      width: 100%;
      margin-right: 30px;
      position: relative;
      z-index: 10; }
      .main .main-section.process .process--list__elem-number {
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #ff8400;
        width: 57px;
        height: 57px;
        font-size: 24px;
        font-family: "UniNeueHeavy";
        color: white;
        line-height: 1;
        text-align: center;
        margin-bottom: 20px; }
      .main .main-section.process .process--list__elem-name {
        font-size: 22px;
        font-family: "UniNeueHeavy";
        color: white;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 20px; }
      .main .main-section.process .process--list__elem-descr {
        font-size: 16px;
        font-family: "UniNeueRegular";
        color: white;
        line-height: 1.5;
        text-align: center; }
      .main .main-section.process .process--list__elem:last-of-type {
        margin-right: 0px; }
      .main .main-section.process .process--list__elem:nth-of-type(even) {
        margin-top: -20px; }
      .main .main-section.process .process--list__elem:nth-of-type(3n) {
        margin-top: -30px; }
  .main .main-section.portfolio .portfolio--title {
    font-size: 44px;
    font-family: "UniNeueHeavy";
    color: #212121;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 35px; }
  .main .main-section.portfolio .portfolio--slider__item {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    max-width: 360px;
    margin: 40px 15px; }
    .main .main-section.portfolio .portfolio--slider__item-image {
      padding: 4px;
      background-color: white;
      -webkit-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.2);
              box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.2);
      margin-bottom: 25px; }
    .main .main-section.portfolio .portfolio--slider__item-name {
      font-size: 20px;
      font-family: "UniNeueHeavy";
      color: #212121;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 25px; }
    .main .main-section.portfolio .portfolio--slider__item-descr {
      font-size: 17px;
      font-family: "UniNeueRegular";
      color: #212121;
      line-height: 1.2;
      text-align: center;
      margin-bottom: 40px; }
  .main .main-section.portfolio .portfolio--slider__nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%; }
    .main .main-section.portfolio .portfolio--slider__nav .portfolio--slider__next {
      position: absolute;
      right: 0; }
    .main .main-section.portfolio .portfolio--slider__nav .portfolio--slider__prev {
      position: absolute;
      left: -60px; }
  .main .main-section.lastSection {
    height: 725px;
    position: relative;
    padding-top: 130px;
    padding-bottom: 55px; }
    .main .main-section.lastSection .lastSection-bg {
      position: absolute;
      top: 0;
      left: 0;
      -o-object-fit: cover;
         object-fit: cover; }
    .main .main-section.lastSection .lastSection--title {
      font-size: 44px;
      font-family: "UniNeueHeavy";
      color: #212121;
      line-height: 1.364;
      text-align: left;
      margin-bottom: 30px; }
    .main .main-section.lastSection .lastSection--text {
      font-size: 16px;
      font-family: "UniNeueRegular";
      color: #212121;
      line-height: 1.5; }
      .main .main-section.lastSection .lastSection--text p {
        margin-bottom: 15px; }

main {
  position: relative; }

.main.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .main.contacts .contacts-main-section {
    width: 100%;
    max-height: 650px;
    height: 100%;
    overflow: hidden; }
    .main.contacts .contacts-main-section .contacts-main-banner-img {
      position: absolute;
      left: 0;
      top: 0;
      -o-object-fit: cover;
         object-fit: cover; }
    .main.contacts .contacts-main-section .contacts-page-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .main.contacts .contacts-main-section .contacts__body {
      margin-top: 40px; }
      .main.contacts .contacts-main-section .contacts__body .contact-man-img {
        position: absolute;
        right: 0;
        bottom: 0; }
      .main.contacts .contacts-main-section .contacts__body .contacts__body--contacts .contacts--contact-section .contacts--contact-phone {
        color: #fff; }
    .main.contacts .contacts-main-section .contacts__banner-info {
      margin: 135px 0px; }
      .main.contacts .contacts-main-section .contacts__banner-info .contacts--title {
        font-size: 64px;
        font-family: "UniNeueHeavy";
        color: white;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 35px; }
      .main.contacts .contacts-main-section .contacts__banner-info .contacts--subtitle {
        font-size: 24px;
        color: white;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 55px; }
  .main.contacts .contacts-map-section {
    width: 100%;
    position: relative; }
    .main.contacts .contacts-map-section .contact-cube-img {
      position: absolute;
      left: 100px;
      top: -110px; }
    .main.contacts .contacts-map-section .contacts-map-img {
      -o-object-fit: cover;
         object-fit: cover; }
    .main.contacts .contacts-map-section .box {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      height: 100%;
      left: 50%; }
    .main.contacts .contacts-map-section .map-card {
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: white;
      -webkit-box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.15);
              box-shadow: 0px 9px 30px 0px rgba(0, 0, 0, 0.15);
      width: 435px;
      height: 301px;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      padding: 34px; }
      .main.contacts .contacts-map-section .map-card--title {
        font-size: 44px;
        font-family: "UniNeueHeavy";
        color: #212121;
        line-height: 1.2;
        text-align: left;
        margin-bottom: 30px; }
      .main.contacts .contacts-map-section .map-card--phone {
        font-size: 20px;
        font-family: "UniNeueHeavy";
        color: #212121;
        line-height: 1.2; }
      .main.contacts .contacts-map-section .map-card--time {
        margin-top: 15px;
        font-size: 14px;
        color: #878787;
        font-family: "UniNeueRegular";
        line-height: 1.2;
        margin: 15px 0px 30px 0px; }
      .main.contacts .contacts-map-section .map-card--location {
        font-size: 18px;
        font-family: "UniNeueRegular";
        color: #212121;
        line-height: 1.333;
        text-align: left; }
