.footer
	height: 115px
	& .box
		height: 100%

.contacts__body
	height: 100%
	width: 100%
	display: flex
	align-items: center
	justify-content: space-between

	&--contacts
		display: flex
		align-items: center
		& .contacts--contact-section
			display: flex
			flex-direction: column
			margin-right: 30px
			& .contacts--contact-phone
				font-size: 20px
				font-family: "UniNeueHeavy"
				color: rgb(33, 33, 33)
				line-height: 1.2
			& .contacts--contact-time
				margin-top: 15px
				font-size: 14px
				color: #878787
				line-height: 1.2

