footer.footer
    .box
        .contacts__body
            .contacts__body--logo
                a(href="/")
                    img(src="img/logo.png", alt="Logo")
            .contacts__body--contacts
                .contacts--contact-section
                    a(class="contacts--contact-phone" href="tel:74997777777") +7 (499) 777-77-77
                    a(class="contacts--contact-phone" href="tel:79636939393") +7 (963) 693 93 93
                    span(class="contacts--contact-time") ежедневно с 08:00 до 21:00
                button(class="btn") Вызов замерщика