footer.footer
    .box
        .footer__body
            .footer__body--logo
                a(href="/")
                    img(src="img/logo.png", alt="Logo")
            .footer__body--contacts
                .footer--contact-section
                    a(href="tel:74997777777" class="footer--contact-phone") +7 (499) 777-77-77
                    a(href="tel:79636939393" class="footer--contact-phone") +7 (963) 693 93 93
                    span(class="footer--contact-time") ежедневно с 08:00 до 21:00
                button(class="btn") Вызов замерщика