footer.footer
    .box
        .footer__body
            .footer-elem
                a(href="privacy-policy.html") Политика конфиденциальности
            .footer-elem
                a(href="rules.html") Положения и условия
            .footer-elem
                a(href="tel:78915454545") +7 (891) 545 45 45
            .footer-elem
                p ©
                    span 2019
