-
    var links = [
        'Главная',
        'Преимущества',
        'Цены',
        'Портфолио',
        'Оборудование',
        'Контакты',
    ];
.mobile-menu
    ul(class="mobile-menu--list")
        each items in links
            li(class="mobile-menu--list__elem")
                a(href="/" class="mobile-menu__elem-link")=items
header.header
    button(class="hamburger hamburger--collapse" type="button")
        span(class="hamburger-box")
            span(class="hamburger-inner")
    .header__body
        nav(class="header__body-navigation")
            ul(class="navigation--list")
                each items in links
                    li(class="navigation--list__elem")
                        a(href="/" class="navigation--list__elem-link")=items
