-
    var links = [
        'Главная',
        'Преимущества',
        'Цены',
        'Портфолио',
        'Оборудование',
        'Контакты',
    ];
header.header
    .header__body
        nav(class="header__body-navigation")
            ul(class="navigation--list")
                each items in links
                    li(class="navigation--list__elem")
                        a(href="/" class="navigation--list__elem-link")=items