extends blocks/_layout
append content
	main.main.main-page
		.box
			.main-content.only-main
				h1(class="main-content__title") Мгновенно инвестируйте в любое время, в любом месте
				h3(class="main-content__subtitle") Инвестировать становиться как никогда простым.
					| Наша платформа позволит Вам не задумываясь получать прибыль от своих инвестиций,
					| легко планировать бюджет и зарабатывать каждую секунду
				.main-content__main-buttons
					a(class="main-button active" href="register.html") Начать инвестировать
					a(class="main-button plans" href="plans.html") Тарифные планы
				p(class="main-content__info")
					img(src="img/chip.svg", alt="Chip")
					span 100% SSL транзакции. Безопасность платежей Наши сервера защищены от DDOS- атак.