@include media( 1350 )
	.main
		overflow-x: hidden
	.main .main-section.salary.second-salary .second-salary-bg2,
	.main .main-section.salary.second-salary .second-salary-bg3 img
		min-width: 1500px
	.main .main-section.ourAdvantages .ourAdvantages-bg,
	.main .main-section.process .process-bg,
	.main .main-section.lastSection .lastSection-bg
		min-width: 1920px
	.main .main-section.screedForm .screedForm-bg
		min-width: 1850px
	.main .main-section.salary .salary--form .salary--value
		font-size: 70px
		top: 40px
		left: -40px
	.main .main-section.salary .salary--title
		margin-bottom: 35px
		font-size: 34px
		line-height: 1.1
	.main .main-section.salary .salary--title .orange-box
		font-size: 34px
		line-height: 1.1
	.main .main-section.salary.second-salary .secondSalary
		height: 100%
	.main .main-section.screed,
	.main .main-section.reviews
		margin-bottom: 0px
	.main .main-section.salary.second-salary
		height: 600px
	.main .main-section.process
		margin-bottom: 50px
@include media( 1200 )
	.main .main-section.advantages
		margin-top: 0px
	.main .main-section.salary.first-salary
		height: 300px
	.main .main-section.salary .salary--form
		max-width: 500px
	.main .main-section.salary .salary--form form .btn
		width: 220px
	.main .main-section.salary .salary--form .salary--value
		left: 0
	.main .main-banner
		justify-content: initial
		max-width: initial
		flex-direction: column
	.main .main-section .contacts__body
		margin-bottom: 40px
	.main .main-section .main-banner--info__title
		font-size: 32px
	.main .main-section .main-banner--info .orange-box
		font-size: 32px
		width: 350px
		margin-bottom: 20px
	.main .main-section .main-banner--info__services .service
		margin-bottom: 20px
	.main .main-section .main-banner--form
		max-width: 700px
	.main .main-section .main-banner--form,
	.main .main-section .main-banner--info
		margin: 0 auto
	.main .main-section .main-banner--form form
		flex-direction: initial
		flex-wrap: wrap
	.main .main-section .main-banner--form__title
		width: 100%
		margin-bottom: 15px
	.main .main-section .main-banner--form__subtitle
		width: 100%
		margin-bottom: 20px
		& br
			display: none
	.main .main-section .main-banner--form .input
		max-width: 60%
		position: relative
		right: -30px
	.main .main-section .main-banner--form .btn
		max-width: 40%
		left: -30px
		margin-bottom: 20px
	.main .main-section .main-banner--form__agree
		width: 100%
	.main .main-section.advantages .advantages-list__elem
		width: 46%
	.main .main-section.salary.first-salary .salary-man-img
		z-index: 999
	.main .main-section.salary.first-salary .salary-cube1
		z-index: 9999
	.main .main-section.cost
		padding: 40px 0px
	.main .cost--list
		flex-wrap: wrap
		align-items: center
		justify-content: center
	.main .main-section.cost .cost--list__item
		width: 46%;
		padding-bottom: 55px
		margin: 0px 15px 25px 15px
	.main .main-section.cost
		padding-bottom: 0
	.main .main-section.cost .cost--list__item:last-of-type
		margin-right: 15px
	.main .main-section.ourAdvantages
		position: relative
		padding-top: 50px
		padding-bottom: 0
		height: 510px
	.main .main-section.ourAdvantages .ourAdvantages-bg
		min-width: 1400px
	.main .main-section.screed .screed--list__item
		max-width: 25%
	.main .screed--list
		justify-content: center
	.main .main-section.ourAdvantages .ourAdvantages--title,
	.main .main-section.advantages .advantages--title
		font-size: 32px
		margin-bottom: 30px
	.main .main-section.screed .screed--title,
	.main .main-section.cost .cost--title
		font-size: 32px
		margin-bottom: 15px
	.main .main-section.screed .screed--subtitle
		margin-bottom: 20px
	.main .main-section.screed .screed--list__item-name
		font-size: 16px
	.main .main-section.materials
		margin-top: 40px
	.main .main-section.materials .materials--title
		margin-bottom: 30px
@include media( 992 )
@include media( 768 )